{% load static %}

{% block body %}
     <h1>{{ object.title }}</h1>


   <div>
    <p>
       <a>  <img src="{{object.image}}" width ="250" height="250"> </a>
    </p>
       <p>Description: {{ object.description}}</p>
    <p>Starting Price: ${{ object.price}}</p>
         <p>Current Price: ${{ object.bid}}</p>
        <p> {{object.form}}</p>

       <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" name="Enter Bid" placeholder="Enter Bid">
            <input class="btn btn-primary" type="submit" value="Place Bid">

        </div>
          </form>




<h6><a href="{% url 'index'%}">Home</a></h6>
{% endblock %}