
{% load static %}

{% block body %}
<h5><a href="{% url 'index'%}">HOME</a></h5>
     <h1>{{ item.title }}</h1>

   <div>
      Hi, {{ user}}!

      <p> {% if messages %}
        {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
       </p>
       <div>{% if item.active %}

    <p>
       <a>  <img src="{{item.image}}" width ="250" height="250"> </a>
    </p>
       <p>Description: {{ item.description}}</p>
       <p>Sale Price: ${{item.price}}</p>

      <p><form method = 'POST' action=".">       {% csrf_token %}
       Bid: <input type="number" step="0.01" min="0" type="submit" name = "placebid" value="Place Bid" required>
       <button type="submit">Bid</button>

       <p>Number of Bids: {{item.bidcount}}</p>
   </form></p>

<p><form method = 'POST' action="{% url 'comment' item.id %}">       {% csrf_token %}
     Comment: <input type="text"  name = "comment"  required>
    <button type="submit">Comment</button>
 </form></p>

 <p><form  method="POST" action="{% url 'auctionitemdetail' item.id %}">
        {% csrf_token %}
       <button name ="watch" type="submit">Watch</button>
          </form></p>

<h3>COMMENTS</h3>
       <p><ul>{% for remark in comment %}
                <li>{{remark}}</li>
            {% endfor %}</ul></p>
    <p>

    </p>
       {% if item.user == user %}
        <p><a type = "button" class="button" href="{% url 'auctionitems_update' item.id %}">Edit</a></p>
        {% endif %}
    {% endif %}
   </div>
   <div> {% if not item.active %}
       <h1>AUCTION CLOSED!</h1>
           <p>
       <a>  <img src="{{item.image}}" width ="250" height="250"> </a>
    </p>
       <p>Description: {{ item.description}}</p>

       <p>Winning Bidder:  {{highestBid.user}}</p>
       <p>Winning Bid: ${{item.price}}</p>

    </p>
       {% if item.user == user %}
        <p><a type = "button" class="button" href="{% url 'auctionitems_update' item.id %}">Edit</a></p>
        {% endif %}

{% endif %}



   </div>
{% endblock %}